/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
//child styles
 .block-editor-inner-blocks{
  .block-editor-block-list__layout{
    .block-editor-block-list__block{
      margin:0;
    }
  }
 }

.wp-block-cgb-block-bar-chart  {
  background: $white;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 5px;
  h2 {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  h3 {
    font-size: 18px !important;
    margin:0 0 5px 0 !important;
  }
  .wp-block-cgb-block-bar-chart-data{
    background: $light-gray;
    padding: 5px;
    .data{   
        display: flex;
        justify-content: space-between;
      &-label{
        width: 65%;
        min-width:100px;
      }//label
      &-number{
        width: 30%;
        min-width:100px;
      }//label

    }//data
  }//.wp-block-cgb-block-bar-chart-data
}//.wp-block-cgb-block-bar-chart